html, body, #app {
  min-height: 100vh;
}

#app {
  background-color: #efeeed;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  min-width: 300px; // and paddind + 10 + 10

  margin: 0 auto;
  padding: 0 10px;

  box-sizing: border-box;

  @include media_desktop {
    max-width: 1200px;
    // background: red;
  }

  @include media_tablet {
    // background: yellow;
    max-width: 1024px;
  }

  @include media_mobile {
    // background: green;
  }
}

// routes transition animation
.fade-enter-active {
  transition: opacity .8s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
